@model TPCv3.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>The Power Coder | Login</title>
     
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div style="margin-top: 50px;" class="container-fluid">
            <div class="hero-unit span6 offset3">
                <div id="login-div">
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend style="font-size: 18pt;color:white;">Sign In</legend> 
                        @using (Html.BeginForm("Login","Admin", FormMethod.Post, new Dictionary<string, object>{{"class","form-horizontal"}}))
                        {
                            <div class="control-group">
                                @Html.LabelFor(m => m.Username, new Dictionary<string, object>{{"class","control-label"}})
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Username, new Dictionary<string, object>{{"placeholder","Username"}})
                                    @Html.ValidationMessageFor(m => m.Username)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(m => m.Password, new Dictionary<string, object>{{"class","control-label"}})
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Password, new Dictionary<string, object>{{"placeholder","Password"}})
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="span3 offset1">
                                <div class="controls">
                                    <button type="submit" class="btn-primary btn-large">Login</button>
                                </div>
                            </div>
                            @Html.Hidden("ReturnUrl")
                            @Html.AntiForgeryToken()
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </body>
</html>
