@using TPCv3.Helpers
@model TPCv3.Domain.Entities.Post

@{
    ViewBag.Title = "The Power Blog Article | " + Model.Title;
}
<h2>The Power Blog | Article</h2>
<div id="content">
  <div class="post">
      <div class="articleMeta">
          <div class="leftArticleMeta">
              <table id="postListTitle">
                  <tr>
                      <th>@Html.PostLink(Model)</th>
                  </tr>
                  <tr>
                      <td>in @Html.CategoryLink(Model.Category) with tags: @Helpers.Tags(Html, Model.Tags.ToList())</td>
                  </tr>
                  <tr>
                      <td>@Model.PostedOn.ToConfigLocalTime()</td>
                  </tr>
              </table>
          </div>
          <div class="rightArticleMeta">
              <table id="commentCount">
                  
                  <tr>
                      <td>
                          <a class="postTitle" href="@string.Format("{0}#disqus_thread", Model.Href(Url))"></a>
                      </td>
                  </tr>
                  <tr>
                      <td>@Html.Partial("_AddThisArticle")</td>
                  </tr>
              </table>
          </div>
      </div>
      <div class="post-body">
          @Html.Raw(Model.Description)
      </div>
     @Html.Partial("_Disqus")
  </div>
</div>
