@using TPCv3.Helpers
@model TPCv3.Domain.Entities.Post

@{
    ViewBag.Title = "Post";
}

<div id="content">
  <div class="post">
    <div class="post-meta">
      <div class="row">
       
        <div class="post-title">
          <h3>@Html.PostLink(Model)</h3>
        </div>
         
      </div>
      <div class="row">
       
        <div class="post-category">
          <span>Category:</span> @Html.CategoryLink(Model.Category)
        </div>
         
        <div class="post-tags">
          <span>Tags:</span> @Helpers.Tags(Html, Model.Tags.ToList())
        </div>
         
        <div class="posted-date">
          @Model.PostedOn.ToConfigLocalTime()
        </div>
         
      </div>
    </div>
     
    <div class="post-body">
     @Html.Raw(Model.Description)
    </div>
     
  </div>
</div>
