@{
    ViewBag.Title = "The Power Coder | Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TPCv3.Domain.Entities.Contact

 
<h2>Drop Me A Line</h2>
 
<div id="content">
  @using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contactForm", OnFailure = "ajaxFailure" }, new { @class = "form-horizontal" }))
  {
      <div class="control-group">
          @Html.LabelFor(m => m.Name, new Dictionary<string, object>{{"class","control-label"}})
          <div class="controls">
              @Html.TextBoxFor(m => m.Name, new Dictionary<string, object>{{"placeholder","Name"}, {"class", "span8"}})
              @Html.ValidationMessageFor(m => m.Name)
          </div>
      </div>  
      <div class="control-group">
          @Html.LabelFor(m => m.Email, new Dictionary<string, object>{{"class","control-label"}})
          <div class="controls">
              @Html.TextBoxFor(m => m.Email  , new Dictionary<string, object>{{"placeholder","Email Address"}, {"class", "span8"}})
              @Html.ValidationMessageFor(m => m.Email)
          </div>
      </div> 
      <div class="control-group">
          @Html.LabelFor(m => m.Website, new Dictionary<string, object>{{"class","control-label"}})
          <div class="controls">
              @Html.TextBoxFor(m => m.Website, new Dictionary<string, object>{{"placeholder","Website"}, {"class", "span8"}})
              @Html.ValidationMessageFor(m => m.Website)
          </div>
      </div> 
     <div class="control-group">
          @Html.LabelFor(m => m.Subject, new Dictionary<string, object>{{"class","control-label"}})
          <div class="controls">
              @Html.TextBoxFor(m => m.Subject  , new Dictionary<string, object>{{"placeholder","Subject"}, {"class", "span8"}})
              @Html.ValidationMessageFor(m => m.Subject)
          </div>
      </div> 
      <div class="control-group">
          @Html.LabelFor(m => m.Body, new Dictionary<string, object>{{"class","control-label"}})
          <div class="controls">
              @Html.TextAreaFor(m => m.Body  , new Dictionary<string, object>{{"placeholder","Body of message"}, {"class", "span8"}, {"style","resize:none"}})
              @Html.ValidationMessageFor(m => m.Email)
          </div>
      </div> 
      <div class="control-group">
          <input type="submit" value="Submit" class="btn-large btn-primary offset7"/>
      </div>
  }
</div>