@using TPCv3.Helpers
@model TPCv3.Domain.Entities.Post

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9  leftPostMeta">
            <h1>@Html.PostLink(Model)</h1>
            <table id="postListTitle">
                <tr>
                    <td>in @Html.CategoryLink(Model.Category) with tags: @Helpers.Tags(Html, Model.Tags.ToList())</td>
                </tr>
                <tr>
                    <td>
                        <a class="postTitle" href="@string.Format("{0}#disqus_thread", Model.Href(Url))"></a> for this discussion.
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Partial("_AddThisPostTemplate")
                    </td>
                </tr>
            </table>
        </div>
        <div class="rightPostMeta span2">
            <table id="dateTable">
                <tr>
                    <th>@Html.GetMonthName(Model.PostedOn.Month)</th>
                </tr>
                <tr>
                    <td>@Model.PostedOn.Day</td>
                </tr>
                <tr>
                    <td>@Model.PostedOn.Year</td>
                </tr>
            </table>
        </div>
        <!--Short Description-->
        <div class="row-fluid">
            <div style="margin: 20px 5px" class="span12">
                @Html.Raw(Model.ShortDescription)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                @Html.ActionLink("Read More...", "Post", "Blog",
                                 new
                                     {
                                         year = Model.PostedOn.Year,
                                         month = Model.PostedOn.Month,
                                         title = Model.UrlSlug
                                     },
                                 new
                                     {
                                         title = "Read the full article: " + Model.Title,
                                         @class = "readMore"
                                     }
                     )
            </div> 
            <div class="offset10"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="post-separator span12"></div>
    </div>
</div>